
<div class="container">
  <div class="bg-purple">
    <h2>All Properties</h2>

  </div>

  <div class="btn-toolbar pull-right">
    <%= link_to 'Add New', new_property_path, class: 'btn btn-default add-new' %>
  </div>

  <hr>
  <br>
  <div class="properties p-3 bg-white box-shadow">
    <div class="media text-muted pt-3">
      <div class="media-body pb-3 mb-0 small lh-125 border-gray">
        <% @properties.each do |property| %>
          <div class="property-name border-bottom">
            <strong><%= link_to property.name, property_path(property) %></strong>
            <%= link_to 'Delete', property_path(property), method: 'delete', class: 'btn btn-danger btn-xs pull-right' %>
            <%= link_to 'Edit', edit_property_path(property), class: 'btn btn-warning btn-xs pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>