
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h2>Add New Property</h2>
      </div>
      <%= link_to 'Go to Properties', properties_path, class: 'btn btn-default' %>
      <br>
      <%= render partial: 'form' %>
    </div>
  </div>
</div>
