
<div class="container-fluid">
  <div class="row">
<h3>All Units from <%= @property.name %></h3>
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <div class="btn-group" role="group" aria-label="group">
          <%= link_to 'Go to Properties' , properties_path, class: 'btn btn-default' %>
          <%= link_to 'New' , new_property_apartment_path, class: 'btn btn-info' %>
        </div>
        <thead>
        <tr>
          <th>
            Unit Number
          </th>
          <th>
            Rehab Type
          </th>
          <th>
            Floor Plan
          </th>
          <th>
            Status
          </th>
          <th>
            NTV
          </th>
          <th>
            Measure Date
          </th>
          <th>
            Moveout Date
          </th>
          <th>
            Construction Start Date
          </th>
          <th>
            Turnover to Ops
          </th>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>
          <th>
            Profile
          </th>
        </tr>
        </thead>
        <tbody>
          <%= render @apartments %>
        </tbody>
      </table>
    </div>
  </div>
</div>
