
<div class="container-fluid">
  <div class="row">
<h3>All Apartments from <%= @property.name %></h3>
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <div class="btn-group" role="group" aria-label="group">
          <%= link_to 'Go to Properties' , properties_path, class: 'btn btn-default' %>
          <%= link_to 'New' , new_property_apartment_path, class: 'btn btn-info' %>
        </div>
        <thead>
        <tr>
          <th>
            Unit Number
          </th>
          <th>
            Beds
          </th>
          <th>
            Baths
          </th>
          <th>
            Unit Location
          </th>
          <th>
            Garage
          </th>
          <th>
            Garage Number
          </th>
          <th>
            Renovation type
          </th>
          <th>
            Floor Plan
          </th>
        </tr>
        </thead>
        <tbody>
          <%= render @apartments %>
        </tbody>
      </table>
    </div>
  </div>
</div>
